.header {
  position: initial;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 25;
  background-color: rgb(9, 16, 28); 
  backdrop-filter: blur(10px); 
  transition: all 0.2s ease-in-out;
  padding: 10px;



  display: flex;
  justify-content: space-between; 
  align-items: center; 
  
}

.header.shrink {
  width: 80%; 
  left: 10%;
  top: 5%; 
  padding: 5px 10px; 
  border-radius: 16px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
}

.header.hide {
  transform: translateY(-100%); 
  opacity: 0; 
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.navbar-logo img {
  max-height: 50px; 
  transition: max-height 0.3s ease-in-out; 
}

.header.shrink .navbar-logo img {
  max-height: 35px; 
}



.header__actions{
  display: flex;
  gap: 0.5rem;
  margin-left: 40px;
  
  
}