
  <section class="hero">
    <img
      src="/assets/images/hero-1.webp"
      alt="Hero image"
      width="475"
      height="712"
    />
    <div class="hero__data">
      <div class="hero__badge">
        <a href="#" tabindex="1">New</a>
        <p>Status v2.32 Launched for Mobile and Desktop</p>
        <img src="/assets/svg/new.svg" alt="">
      </div>
      <h1 class="hero__title" aria-level="1">
        Make the
        <br />
        jump to web3
      </h1>
      <p class="hero__description">
        Use the open-source, decentralised wallet and messenger.
      </p>
      <div class="hero__actions">
        <app-icon-button
          icon="/assets/svg/windows.svg"
          testButton="Download for Windows"
          class="action__button__nav--filled"
        ></app-icon-button>
        <app-icon-button
          icon="/assets/svg/mobile.svg"
          testButton="Download for mobile"
          class="action__button__nav--outlined"
        ></app-icon-button>
        
      </div>
    </div>
    <img
      src="/assets/images/hero-2.webp"
      alt="Hero image"
      width="475"
      height="712"
    />
  </section>
