.table__card {
    align-items: center;
    justify-content: center;
    text-align: left;
    align-content: center;
    gap: 0.5rem;
    display: grid;
  
    & .title {
      font-size: 27px;
      font-weight: 600;
    }
  
    & .subtitle {
      font-size: 19px;
      font-weight: 400;
    }
  }