<!-- <app-header></app-header> -->
<app-section-container sectionType="title"></app-section-container>
<app-section-container sectionType="cardImage" direction="left"></app-section-container>
<app-section-container sectionType="cardImage" direction="right"></app-section-container>
<app-section-container sectionType="fullVideo"></app-section-container>
<app-section-container sectionType="partialVideo"></app-section-container>
<app-section-container sectionType="title" [isFullWidth]="true"></app-section-container>
<app-section-container sectionType="fullWidthImage"></app-section-container>


