<div class="video__place--purple">
    <div class="video__top">
      <video muted autoplay loop src="/assets/videos/Messenger_01_Top.webm"></video>
    </div>

    <div class="video__bottom">
      <div class="text__place--purple">
        <h2>Keep who your friends are private</h2>
        <span>
          With our metadata privacy, it’s impossible for an eavesdropper
          to <br />
          know who you are talking to.
        </span>
      </div>
      <video muted autoplay loop src="/assets/videos/Messenger_01_Bottom.webm"></video>
    </div>
  </div>