<div class="footer__logo">
  <img src="/assets/images/Us_2.webp" alt="Status Logo" class="logo" />
  <h1 aria-level="1">Be unstoppable</h1>
  <span>Use the open-source, decentralised wallet and messenger.</span>
  <div class="hero__actions">
    <app-icon-button
      icon="/assets/svg/windows.svg"
      testButton="Download for Windows"
      class="action__button__nav--filled"
    ></app-icon-button>
    <app-icon-button
      icon="/assets/svg/mobile.svg"
      testButton="Download for mobile"
      class="action__button__nav--outlined"
    ></app-icon-button>
  </div>
</div>